.App {
  text-align: center;
  height: 100vh;
  position: absolute;
  width: 100%;
  top:0;
  z-index: 1;
}

.App-header {
  background-color: var(--main-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--color-text);
}


@supports (-webkit-text-stroke: 1px var(--color-text)) {
  h2 {
    -webkit-text-stroke: 1px var(--color-text);
    -webkit-text-fill-color: transparent;
  }
}

h2 {
  font-size: 28px;
}

h1 {
  font-size: 38px;
}

.Description {
  margin : 5px;
}
