$breakpoint-xsmall: 360px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

.App {
  text-align: center;
}

.App-header {
  background-color: var(--main-color);
/*   animation: background-change 15s ease-in infinite;  */  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  top:0;
  z-index: 1;
  h1, h2, h3, h4, p {
    color : var(--color-text);
  }
  .Social-icons {
    display: flex;
  }
  
  .Social-icons {
    .social-svg-mask {
    fill : var(--color-text)!important;
    }
    #facebook:hover {
      .social-svg-mask {
        fill:#1097F6!important;
      }
      .social-svg-background {
        fill:white!important;
      }
    }
    #email:hover {
      .social-svg-mask {
        fill:grey!important;
      }
      .social-svg-background {
        fill:white!important;
      }
    }
    #dribbble:hover {
      .social-svg-mask {
        fill:#ea4c89!important;
      }
      .social-svg-background {
        fill:white!important;
      }
    }
    #linkedin:hover {
      .social-svg-mask {
        fill:#2867B2!important;
      }
      .social-svg-background {
        fill:white!important;
      }
    }
  }
  
  .social-icon {
    opacity: 0.7;
    margin : 10px 15px;
    width: 36px!important;
    height: 36px!important;
    transition: transform ease-in .2s, opacity ease-in .2s;
    position: relative;
    display: block;
    border-radius: 100%;
  }
  
  .social-icon:hover {
    opacity: 1;
    transform: translate(0, -5px);
    box-shadow: 0px 5px 10px #00000020;
  }
  
  .Social-icons div {
    position: relative;
  }
  
  
  @supports (-webkit-text-stroke: 1px var(--color-text)) {
    h2 {
      -webkit-text-stroke: 1px var(--color-text);
      -webkit-text-fill-color: transparent;
    }
  }
  
  h2 {
    font-size: 34px;
    margin: 10px;
  }
  
  h1 {
    font-size: 40px;
    margin: 10px;
    &:after{
      display: none;
    }
  }
  
  .Description {
    margin : 10px;
    span {
      margin : 10px 0 15px;
      font-size: 23px;
      opacity: 0.95;
      color: var(--color-text);
    }
  }
  
  .ScrollDown {
    position: fixed;
    bottom:20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
    p {
      font-size: 16px;
      margin: 10px;
    }
    svg {
      color : var(--color-text);
        animation: pulse 2s infinite;
    }
  }
}

.App-content {
  width: 90vw;
  min-height: calc(100vh - 120px);
  margin : 40px auto;
  max-width: 960px;
  .chart{ 
    h2 {  
      font-size: 19px;
      font-weight: 600;
      margin : 2em;
    }
  }
  .chart-donut div {
    margin : auto;
  }
  .apexcharts-donut-slice-0 {
    fill : var(--main-color);
    cursor: pointer;
  }
  .apexcharts-donut-slice-1 {
    fill : var(--main-color);
    fill-opacity: .3;
    pointer-events: none;
  }
}

.ColorPicker{
  position: absolute;
  right: 35px;
  border: 2px solid;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  top: 25px;
  margin: auto;
  color: var(--color-text);
  z-index: 5;
  svg {
    font-size: 17px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.color-picker {
  position: fixed;
  top: 75px;
  right: 35px;
  z-index: 3;
}

.logo-infos {
  h3 {
    font-size: 18px;
    font-weight: 500;
  }
  h4 {
    font-size: 14px;
    font-weight: 500;
    color: #616161;
  }
}

#experience, #projects {
  .box {
    background-color: white;
  box-shadow: 0 1px 2px #0000001a;
  border-radius: 1em;
  padding: 2em 1em;
  margin : 2em 0;
  .description {
    padding : 1em;
    h2 {
      font-size: 20px;
      font-weight: 600;
    }
    li {
      margin : 0.25em 1em;
    }
    img {
      cursor: zoom-in;
    }
    @media (max-width: $breakpoint-medium) {
      img{
        width: 70%;
        margin: auto;
        display: flex;
      }
      .btn-link {
        text-align: center;
        margin: auto;
      }
    }
  }
  .company-logo {
    background: white;
    padding: 2px;
  }
  .round {
    border-radius: 15px;
  }
}
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } 
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } 
}

/* @keyframes background-change {
  0% { background-color: #1B6758; }
  16% { background-color: #1B3067; }  
  33% { background-color: #461B67; }
  50% { background-color: #671B2D; }
  66% { background-color: #675F1B;}
  84% { background-color: #2F671B;}
  100% { background-color: #1B6743;}
} */