$breakpoint-xsmall: 360px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

$width_ratio : 1.37;

#dribbble-shots {
    margin-top:120px;
    margin-bottom:50px;
    min-height: 100vh;
    h1 {
        display: flex;
        align-items: center;
        img {
            height: 22px;
            margin-left: 10px;
            margin-top: -5px;
        }
    }
    .shot {
        border-radius: 20px;
        background-size: cover;
        background-position: center center;
        cursor: pointer;
        box-shadow: 0 1px 6px rgba(0,0,0,.20), 0 0 1px rgba(0,0,0,0.15);
        transition: transform ease-in 0.2s, box-shadow ease-in 0.2s;
        transform: scale(0.90);
        display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: flex-end;
	    align-items: flex-start;
        align-content: flex-start;
        .description {
            pointer-events: none;
            padding-bottom: 10px;
            z-index: 2;
            p {
                font-size: 16px;
                color: white;
                margin: 0;
                padding-left: 10px;
                text-align: left;
                text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
                font-weight: 600;
                align-items: center;
                display: flex;
                line-height: 1.5;
                svg {
                    filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, 0.6));
                    font-size: 16px;
                    margin-right: 8px;
                }
            }
        }
        &::after {
            content: "";
        }
        &:hover {
            transform: scale(1);
            box-shadow: 0 1px 12px rgba(0,0,0,.20), 0 0 4px rgba(0,0,0,0.10);
            &::after {
                font-size: 18px;
                color:white;
                padding: 25px 30px;
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);
                font-weight: 600;
                position: absolute;
                width: 100%;
                height: 70px;
                bottom: 0;
                left: 0;
                border-radius: 0 0 20px 20px;
            }
        }
    }
}

@media (max-width: $breakpoint-xsmall) {
    #dribbble-shots {
        max-width: 90vw;
        .shot {
            margin: 20px auto;
            height: 200px;
            max-width: 200px * $width_ratio;
        }
    }
}
@media (min-width: $breakpoint-xsmall) {
    #dribbble-shots {
        .shot {
            margin: 20px auto;
            height: 280px;
            max-width: 280px * $width_ratio;
        }
    }
}

@media (min-width: $breakpoint-medium) {
    #dribbble-shots {
        .shot {
            margin: 20px 0;
            height: ((50 * 720px)/100)/$width_ratio ;
            max-width: ((50 * 720px)/100);
        }
    }
}

@media (min-width: $breakpoint-large) {
    #dribbble-shots {
        .shot {
            margin: 20px 0;
            height: ((33 * 960px)/100)/$width_ratio ;
            max-width: ((33 * 960px)/100);
        }
    }
}